@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

/* Mastery Kingdom Font */
/* @font-face {
  font-family: 'Mastery Kingdom Font';
  src: url('./assets/fonts/MasteryKingdom-axm1a.otf') format('ttf'),
} */


body {
  margin: 0;
  font-family: Montserrat, Popins, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}